.bigboss
{
    width: 30%;
    padding-top: 10px;
    background: darkgreen;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.raw{
    font-weight: ;
    width: 95%;
    background: wheat;
    margin-bottom: 10px;
    height: 150px;
    color: darkmagenta;
    display: flex;
    align-items: center;
    justify-content: center;
}

.second
{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.period{
    background: #f1d392;
    color: darkmagenta;
    width: 20%;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
